[build-system]
requires = ["setuptools", "wheel", "cibuildwheel"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ library_name }}"
version = "{{ version }}"
description = "{{ description }}"
license = { text = "BSD 2-Clause License" }
readme = "README.md"
requires-python = ">=3.13"
keywords = []

authors = [{ name = "Aquaveo" }]

# Dependencies
dependencies = [
    "numpy",
    {%- for dependency in xms_dependencies -%}{%- if not dependency.no_python %}{{'\n    '}}"{{ dependency.name }}>={{ dependency.version }}",{%- endif %}{% endfor %}
]

[tool.setuptools.packages.find]
include = ["xms*"]

[tool.setuptools.package-data]
# Include additional data files (compiled extensions)
"xms.{{ python_namespaced_dir }}" = ["*.pyd", "*.so", "*.dll", "*.dylib"]

[tool.setuptools.ext_modules."xms.{{ python_namespaced_dir }}._{{ library_name }}]

# Force platform-specific wheel creation
[tool.setuptools]
# This ensures that wheels are platform-specific when binary files are present
zip-safe = false
include-package-data = true

[tool.pytest.ini_options]
python_files = ["test_*.py", "*_test.py", "*_pyt.py"]

[tool.cibuildwheel]
build = "cp313-*"

[tool.cibuildwheel.windows]
archs = "amd64"

[tool.cibuildwheel.macos]
archs = "x86_64"

[tool.cibuildwheel.linux]
archs = "x86_64"
