name: xmsconan

on: [push, pull_request]

jobs:
  flake:
    name: Flake Project
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
        python-version: ["3.13"]

    steps:
      # Checkout Sources
      - name: Checkout Source
        uses: actions/checkout@v4
      # Setup Python
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      # Install Python Dependencies
      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 flake8-docstrings flake8-bugbear flake8-import-order pep8-naming
      # Flake Code
      - name: Run Flake
        run: |
          flake8 --exclude .tox,.git,__pycache__,_package/tests/files/*,pydocs/source/conf.py,build,dist,tests/fixtures/*,*.pyc,*.egg-info,.cache,.eggs --ignore=D200,D212 --max-line-length=125 --docstring-convention google --isolated --import-order-style=appnexus --application-import-names=xmsconan --application-package-names=xms --count --statistics .

  unit-tests:
    name: Unit Tests
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
        python-version: ["3.13"]

    steps:
      # Checkout Sources
      - name: Checkout Source
        uses: actions/checkout@v4
      # Setup Python
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      # Install Python Dependencies
      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
      # Run Unit Tests
      - name: Run Unit Tests
        run: |
          python -m unittest discover -s tests -p "test_*.py" -v

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [flake, unit-tests]
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
        python-version: ["3.13"]

    steps:
      # Checkout Sources
      - name: Checkout Source
        uses: actions/checkout@v4
      # Setup Python
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      # Install Python Dependencies
      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel setuptools devpi
      # Get Tag Name
      - name: Get Tag
        id: gitTag
        uses: little-core-labs/get-git-tag@v3.0.2
      # Check Tag
      - name: Check Tag Against Version
        run: |
          python -c "from xmsconan import __version__; print('Version: ' + str(__version__) + ' | Tag: ${{ steps.gitTag.outputs.tag }}')"
          python -c "from xmsconan import __version__; exit(0 if __version__ == '${{ steps.gitTag.outputs.tag }}' else 1)"
      # Build Wheel
      - name: Build Wheel and Upload
        run: |
          python -m pip install --upgrade build
          python -m build --wheel
          devpi use https://public.aquapi.aquaveo.com/aquaveo/dev/
          devpi login ${{ secrets.AQUAPI_USERNAME_SECRET }} --password ${{ secrets.AQUAPI_PASSWORD_SECRET }}
          devpi upload --from-dir dist
